{% extends "base.html" %}

{% load vue_utils %}

{% block content %}

{% block extra_js %}
  {% vue_provide 'baseStorageUrl' 'https://storage.googleapis.com/cvback-media-prod' %}
{% endblock %}

<div id="app">
  <h1>Entel Digital vision app</h1>
</div>
{% endblock content %}

{% block inline_javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>

  <script type="module" crossorigin src="{% vue_bundle_url 'main' %}"></script>
{% endblock inline_javascript %}

